.regions.regions--popup
    button(type="button").city__btn
        svg.city__icon: use(xlink:href="assets/images/icons/sprite.svg#close")
    .block-title
        .block-title__number 04.
        h2.block-title__text география
            br
            | работы
    ul.regions__columns
        li.regions__col.accordion#accordion
            ul.regions__list.accordion__list
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger а.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Апрелевка
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger б.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Балашиха
                        a.regions__object(href="#") Бронницы
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger в.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Верея
                        a.regions__object(href="#") Волоколамск
                        a.regions__object(href="#") Воскресенск
                        a.regions__object(href="#") Высоковск
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger г.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Голицино
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger д.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Дедовск
                        a.regions__object(href="#") Дзержинский
                        a.regions__object(href="#") Дмитров
                        a.regions__object(href="#") Долгопрудный
                        a.regions__object(href="#") Домодедово
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger е.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Егорьевск
        li.regions__col.accordion2#accordion2
            ul.regions__list.accordion__list
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger ж.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Апрелевка
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger з.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Балашиха
                        a.regions__object(href="#") Бронницы
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger и.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Верея
                        a.regions__object(href="#") Волоколамск
                        a.regions__object(href="#") Воскресенск
                        a.regions__object(href="#") Высоковск
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger й.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Голицино
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger к.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Дедовск
                        a.regions__object(href="#") Дзержинский
                        a.regions__object(href="#") Дмитров
                        a.regions__object(href="#") Долгопрудный
                        a.regions__object(href="#") Домодедово
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger л.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Егорьевск
        li.regions__col.accordion3#accordion3
            ul.regions__list.accordion__list
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger м.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Апрелевка
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger н.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Балашиха
                        a.regions__object(href="#") Бронницы
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger о.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Верея
                        a.regions__object(href="#") Волоколамск
                        a.regions__object(href="#") Воскресенск
                        a.regions__object(href="#") Высоковск
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger п.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Голицино
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger р.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Дедовск
                        a.regions__object(href="#") Дзержинский
                        a.regions__object(href="#") Дмитров
                        a.regions__object(href="#") Долгопрудный
                        a.regions__object(href="#") Домодедово
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger с.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Егорьевск
        li.regions__col.accordion4#accordion4
            ul.regions__list.accordion__list
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger т.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Апрелевка
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger у.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Балашиха
                        a.regions__object(href="#") Бронницы
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger ф.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Верея
                        a.regions__object(href="#") Волоколамск
                        a.regions__object(href="#") Воскресенск
                        a.regions__object(href="#") Высоковск
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger х.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Голицино
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger ц.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Дедовск
                        a.regions__object(href="#") Дзержинский
                        a.regions__object(href="#") Дмитров
                        a.regions__object(href="#") Долгопрудный
                        a.regions__object(href="#") Домодедово
                li.regions__item.accordion__item
                    .regions__letter.accordion__trigger ч.
                    .regions__city.accordion__content
                        a.regions__object(href="#") Егорьевск