.city__wrap {
    padding-top: rem(79px);
    padding-bottom: rem(20px);

    @include phones {
        padding-top: rem(20px);
    }
}

.section__under--city ~ .hero .hero__desk {
    @include phones {
        display: none;
    }
}

.city__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    @include tablets {
        flex-direction: column;
    }
}

.city__row .city__col {
    flex: 1;
    padding: rem(22px) rem(52px);

    &.grey {
        background-color: #e3ebed;
    }

    &.blue {
        background-color: #49b7ef;
    }

    @include desktop {
        padding: rem(22px) rem(42px);
    }

    @include laptop {
        padding: 22px 30px;
    }

    @include phones {
        padding: 22px;
    }
}

.city__row-1 .city__col,
.city__row-3 .city__col {
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.city__row-3 .city__col {
    padding: 0;
}

.city__row-3 .city__col.tiny {
    width: 41.40625%;
    flex: 0 auto;

    @include tablets {
        width: 100%;
    }
}

.city__info {
    padding-right: rem(40px);
    padding-top: rem(30px);

    @include desktop {
        padding-top: 25px;
        padding-right: 0;
    }
}

.city__item {
    padding-left: rem(25px);
    position: relative;
    font-size: rem(14px);
    line-height: rem(23px);
    color: #000;
    margin-bottom: rem(23px);

    &:last-child {
        margin-bottom: 17px;
    }

    @include laptop {
        padding-left: 15px;
    }
}

.city__item span {
    color: #40c36b;
    font-weight: 600;
    position: absolute;
    left: 0;
    top: 0;
}

.city__det {
    padding-top: 32px;

    @include desktop {
        padding-top: 27px;
    }
}

.city__det-line {
    font-size: 16px;
    line-height: 23px;
    color: #fff;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.city__det-line span {
    font-size: 20px;
    font-weight: 900;
    margin-left: 20px;

    @include phones {
        font-size: 18px;
        margin-left: 10px;
    }
}

.city__text {
    color: #fff;
    font-size: 14px;
    line-height: 23px;

    &:before {
        content: '';
        height: 1px;
        width: 100%;
        background: #ffffff;
        display: block;
        position: relative;
        margin-top: 17px;
        margin-bottom: 17px;
    }
}   

.contacts__link {
    text-decoration: underline;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 18px;

    &:hover {
        color: #000;

        .contacts__btn-icon {
            fill: $b;
        }
    }
}

.contacts__btn-icon {
    width: rem(35px);
    height: rem(19px);
    fill: $w;
    transition: .3s;
}

.contacts__link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: .3s;
}

.table {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #3b444e;
    font-size: 14px;
    line-height: normal;
    margin-top: 34px;
    margin-bottom: 33px;

    @include desktop {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    @include laptop {
        font-size: 12px;
    }
}

.table.hide--pl {
    @include phones-large {
        display: none;
    }
}

.table__col-1 {
    width: calc(100% / 8);
}

.table__col-2 {
    width: calc(100% / 4);
}

.table__col-4 {
    width: calc(100% / 2);
}

.table__row {
    display: flex;
    flex-direction: row;
}

.table__row:first-child .table__col:empty {
    border-top: 1px solid #e3ebed;
}

.table__row--line {
    border-bottom: 2px solid #40c36b;
}

.table__col {
    border-right: 1px solid #e3ebed;
    border-top: 1px solid #e3ebed;
    text-align: center;
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
        justify-content: flex-start;
        text-align: left;
    }

    @include laptop {
        padding: 14px 16px;
    }
}

.table__col:empty {
    border-top: 1px solid #fff

}

.table__col.bold {
    font-weight: 900;
}

.city__table-after {
    font-size: 14px;
    line-height: 23px;
    color: #9dacb4;
}

.city__line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 35px;

    @include desktop {
        margin-top: 25px;
    }

    @include tablets {
        flex-direction: column;
    }
}

.city__desc {
    width: 55%;

    @include tablets {
        width: 100%;
        margin-bottom: 15px;
    }
}

.city__stock {
    width: 100%;
    height: 248px;

    @include tablets {
        height: 220px;
    }

    @include phones {
        height: 248px;
    }
}

.city__stock .carousel__image-wrap {

    @include laptop {
        padding: 30px 20px 20px 20px;
    }

    @include tablets {
        padding: 30px;
    }
}

.city__stock + .city__stock {
    margin-top: 20px;
}

.city__col .form__column,
.city__col .form__button {
    margin-top: 15px;
}

.city__col .form__button {

    @include tablets {
        position: relative;
        margin-top: 30px;
        margin-bottom: 15px;
        bottom: 0;
    }
}

.city__col .form {
    @include phones {
        padding-bottom: 30px;
    }
}

.price {
    display: none;
    width: 100%;
    background-color: #fff;
    margin-top: 35px;
    margin-bottom: 35px;
}

.price.show--pl {
    @include phones-large {
        display: block;
    }
}

.price__content {
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
}

.price__trigger {
    padding: 16px 55px 16px 20px;
    border-bottom: 1px solid #e3ebed;
    font-size: 14px;
    font-weight: 600;
    color: #3b444e;
    position: relative;

    &:after {
        content: '';
        height: 38px;
        width: 38px;
        background-color: #e5ecef;
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translate(0,-50%);
    }

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 21px;
        transform: translate(0, -50%);
        height: 0;
        width: 0;
        border: 6px solid transparent;
        border-top-color: #7d888e;
        border-bottom-width: 0;
        transition: .4s;
        z-index: 2;
    }
}

.price__item.active .price__trigger:before {
    transform: translate(0, -50%) rotate(180deg);
}

.price__caption {
    padding: 16px 20px;
    border-bottom: 1px solid #e3ebed;
    background-color: #f0f3f3;
    font-size: 14px;
    font-weight: 600;
    color: #3b444e;
}

.price__subitem {
    padding: 16px 20px;
    border-bottom: 1px solid #e3ebed;
    font-size: 14px;
    font-weight: 600;
    color: #3b444e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price__item .price__content {
    border-width: 0px;
    transition: .4s;
}

.price__item.active .price__content {
    border-top: 2px solid #40c36b;
    border-bottom: 2px solid #40c36b;
}

.city__btn {
    position: absolute;
    background: none;
    border: initial;
    padding: 0;
    outline: none;
    right: rem(20px);
    top: rem(20px);
    cursor: pointer;

    &:hover {
        .type__icon {
            opacity: .6;
        }
    }
}

.city__icon {
    height: rem(28px);
    width: rem(28px);
    fill: #a1b0b8;
    transition: .3s;
}